{{#if items}}

  <div class="blankslate large-format clean-background alert alert-dismissible section-info">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="icon icon-folder"></span>
    <h3>{{t "tickets:::sections::Categories"}}</h3>

    <p>
      {{t "tickets:::Create categories for the for the different ticket types (like 'suport' or 'info') or departments (like 'Billing', or 'Technical') and assign the categories to the managers."}}

      {{t "tickets:::The managers will only have access to the assigned categories."}}
    </p>

    <p>{{t "When creating a new ticket the user must select a category (if there's only one, the category selection dropdown will not be displayed, and the category will be preselected), so make sure that at least one category exists."}}</p>

    <div class="alert alert-warning">
      <p>
        <strong>{{t "Warning"}}:</strong> {{t "tickets:::If a category is deleted, any assigned ticket to that category will become uncategorised, so the managers will not be able to access to that tickets. After deleting a category, you should check if there's any orphan ticket and assign a new category."}}
      </p>

      <div class="actions">
        <a href="#tickets/uncategorised" class="btn btn-sm btn-warning">
          <i class="icon icon-ticket"></i>
          {{t "tickets:::Uncategorised tickets"}}
        </a>
      </div>
    </div>
  </div>


  <div class="grid panel table-responsive"></div>

  <nav class="gridPagination text-right"></nav>

{{else}}

  <div class="blankslate large-format">
    <i class="icon icon-folder"></i>
    <h3>{{t "tickets:::sections::Categories"}}</h3>
    <p>{{t "tickets:::There are no available categories"}}</p>
  </div>

{{/if}}

<footer class="form-group form-actions">
  <div class="pull-right">
    <button type="button" class="btn btn-primary newCategory">
      {{t "tickets:::New category"}}
    </button>
  </div>
</footer>
